@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #E8FAFF;
}

#widget-oursvp {
  position: absolute;
  top: 20%;
  left: 25%;

  .rsvp-survey .survey {

  }

  .rsvp-form {
    background-color: #2db7d2;
    border-radius: 10px;

    --button-bg-color: #E8FAFF;
    --text-color: white;
    --heading-color: white;
    --border-color: #2db7d2;
    --accent-color:  #2db7d2;
    
    .rsvp-font {
    }

    .rsvp-btn {
      border-radius: 10px;
    }
  }
}

@media (max-width: 700px) {
  #widget-oursvp {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}


@media (max-width: 500px) {
  #widget-oursvp {
    top: 20%;
    left: 0%;
    transform: none;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

#root {
  height: 100%;
  background-color: #E8FAFF;
}

.squiggly-underline {
  text-decoration: underline wavy;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-h {
  max-height: 350px;
}
