@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #2db7d2;
}

#widget-oursvp {
  position: absolute;
  top: 20%;
  left: 25%;

  --bg-color: #E8FAFF;


  .rsvp-form {
    border-radius: 10px;

    --button-bg-color: #2db7d2;
    --text-color: #2db7d2;
    --heading-color: #2db7d2;
    --border-color: #E8FAFF;
    --accent-color:  #2db7d2;

    .rsvp-btn {
      border-radius: 10px;
    }
  }
}

@media (max-width: 700px) {
  #widget-oursvp {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}


@media (max-width: 500px) {
  #widget-oursvp {
    top: 20%;
    left: 0%;
    transform: none;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

#root {
  height: 100%;
  background-color: #2db7d2;
}

.squiggly-underline {
  text-decoration: underline wavy;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-h {
  max-height: 350px;
}

.homepage-btn {
  justify-content: center;
  border-radius: 300px;
  border: 3px solid #E8FAFF;
  padding: 20px;
}

.homepage-right {
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.homepage-right-text {
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


path {
  stroke-width: 10;
  fill: none;
}


.animated-text textPath {
  animation: moveText 10s infinite linear;
}

.animated-text:nth-child(2) textPath {
  animation-delay: 5s;
}

@keyframes moveText {
  from {
      startOffset: 100%;
  }
  to {
      startOffset: -100%;
  }
}

.homepage {
  position: relative;
  /* padding: 0px 70px; */
}

.homepage-gif {
  width: 25%;
  border-radius: 4px;
}

.homepage-section-1 {
  padding: 0px 70px;
  padding-bottom: 10px;
}

.rounded-bottom-container {
  height: 80px;
  width: 100%;
  background-color: #E8FAFF;
  border: none;
}

.rounded-bottom {
  height: 80px;
  width: 100%;
  background-color: #2db7d2;
  border: none;
  clip-path: circle(3000px at 50% calc(100% - 3000px));
}

.homepage-section-2 {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8FAFF;
  gap: 20px;
}

.gif-text-header {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gif-text-subheader {
  text-align: center;
}

@media (max-width: 767px) {
  .gif-text-subheader {
    font-size: 18px;
  }
}

.homepage-section-3 {
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 767px) {
  .homepage-section-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .homepage-btn {
    justify-content: center;
    border-radius: 300px;
    width: 250px;
    border: 3px solid #E8FAFF;
    padding: 20px;
  }

  .homepage-img { 
    width: 100%;
  }

  .homepage-right {
    width: 100%;
  }
}

.marquette {
  position: absolute;
  top: -50px;
}

.schedule {
  justify-content: space-between;
  gap: 20px;
}

.schedule-img-container {
  justify-content: space-evenly;
  align-items: center;
  max-height: 1000px;
  gap: 8px;
}

@media (max-width: 767px) {
  .schedule {
    justify-content: center;
    align-items: center;
  }

  .main-schedule {
    width: 100%;
  }

  .schedule-img-container {
    display: none;
  }
}

.schedule-img {
  border-radius: 10px;
}

.faqs-container {
  width: 100%;
  margin-bottom: 70px;
}

.faq-header {
  margin-bottom: 30px;
  text-align: center
}

.accordion {
  border-top: 1px solid #E8FAFF;
  border-bottom: 1px solid #E8FAFF;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 20px;
}

.accordion-content {
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.accordion-icon {
  margin-left: 10px;
}

