@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  background-color: #E8FAFF;
}

#root {
  height: 100%;
  background-color: #E8FAFF;
}

.squiggly-underline {
  text-decoration: underline wavy;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-h {
  max-height: 350px;
}
